@import url('font-face.css');

.banner-logo-img {
    height: 47vh;
}

p {
    font-size: 1.2rem !important;
}

p, h3, h4, h5, h6{
    font-family: 'Glacial Indifference' !important;
    font-weight: normal !important;
    color: #422926;
}

h1, h2 {
    font-family: 'Glacial Indifference' !important;
    font-weight: bold !important;
    color: #422926;
}

body {
    background-color: #ececdd !important; /*Background color for hero image*/
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.dark-blue {
    background-color: #026A89;
}

.light-blue {
    background-color: #00A0BD;
}

.dark-green {
    background-color: #416841;
}

.yellow {
    background-color: #F5B519;
}

.dark-pink {
    background-color: #AD6A7C;
}

.light-pink {
    background-color: #F29FC4;
}

.background-color {
    background-color: #ececdd !important;
}

/* section waves https://www.shapedivider.app/ */
.custom-shape-divider-top-1657085195 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657085195 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
}

.custom-shape-divider-top-1657085195 .shape-fill {
    fill: #026A89;
}

/* multicolumn section */
.custom-shape-divider-top-1657085669 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657085669 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1657085669 .shape-fill {
    fill: #ECECDD;
}

/* Price section */
.custom-shape-divider-top-1657085822 {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1657085822 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 119px;
}

.custom-shape-divider-top-1657085822 .shape-fill {
    fill: #F29FC4;
}

.scriptorama-font {
    font-family: 'Scriptorama Tradeshow JF';
    font-weight: normal;
}

.multicolumn-icon {
    height: 25vh;
    padding: 40px;
}

.no-wrap {
    white-space: nowrap;
}

.webp .hero-background {
    background-image: url('../quantum-cleaning-assets/img/hero/webp/hero-full-image-x3-min.webp');
}

.no-webp .hero-background {
    background-image: url('../quantum-cleaning-assets/img/hero/hero-full-image-x3-min.jpg');
}

.hero-subheading {
    -webkit-text-stroke: 2px #422926; /*Brown for outlines*/
    color: #F5B519
}

