@import url('font-face.css');

.banner-logo-img {
    height: 47vh;
}

p, h3, h4, h5, h6{
    font-family: 'Glacial Indifference' !important;
    font-weight: normal !important;
}

h1, h2 {
    font-family: 'Glacial Indifference' !important;
    font-weight: bold !important;
}

.scriptorama-font {
    font-family: 'Scriptorama Tradeshow JF';
    font-weight: normal;
}